# Miscellaneous
*.class
*.db
*.db-journal
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart IDE specific
.dart_tool/
.idea/
.vscode/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
/build/

# Android
/android/app/src/main/assets/flutter_assets/
/android/app/build/
/android/build/
/android/.gradle/
/android/gradle/
/android/local.properties
/android/key.properties
/android/app/google-services.json
*.jks
*.keystore

# iOS
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/engine
/ios/Flutter/flutter_assets
/ios/Flutter/Generated.xcconfig
/ios/Flutter/info.plist
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Runner/Info.plist
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcuserdata/
/ios/Flutter/Debug.xcconfig
/ios/Flutter/Release.xcconfig
/ios/Runner/Runner-Bridging-Header.h
/ios/Runner/Runner-Swift.h

# Linux
/linux/build/
/linux/flutter/ephemeral/
/linux/.vs/
/linux/CMakeLists.txt.user

# macOS
/macos/build/
/macos/Flutter/ephemeral/
/macos/Pods/
/macos/.symlinks/
/macos/Runner/GeneratedPluginRegistrant.*
/macos/Runner/Info.plist
/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/macos/Runner.xcodeproj/project.xcworkspace/
/macos/Runner.xcodeproj/xcuserdata/
/macos/Flutter/Debug.xcconfig
/macos/Flutter/Release.xcconfig

# Windows
/windows/build/
/windows/flutter/ephemeral/
/windows/.vs/
/windows/CMakeLists.txt.user
/windows/flutter/generated_plugins.cmake